<!-- FOOTER START -->
<footer>
	<!-- Footer-area start -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-4 col-sm-6 col-xs-12">
					<!--<div class="single-footer">-->
						<h3 class="footer-title  title-border">About Ranker</h3>
						<ul class="footer-contact">
							<li>Rank Your Life<br>Ranking Community RANKER</li>
						</ul>
					<!--</div>-->
				</div>

				<div class="col-lg-4 col-md-4 hidden-sm col-xs-12">
					<div class="single-footer">
						<h3 class="footer-title  title-border">Contact Us</h3>
						<ul class="footer-contact">
							<li><span>Address :</span>Teheran ro 212<br>Seoul, Korea</li>
							<li><span>Yoo Sung Jae</span> 010-8748-9102 (cel)<br>ysj910202@naver.com (email)</li>
							<li><span>Kim Sin Jae</span> 010-7755-4633 (cel)<br>johankim27@gmail.com (email)</li>
							<!--<li><span>Cell-Phone :</span><br>010-7755-4633</li>-->
							<!--<li><span>Email :</span><br>johankim27@gmail.com</li>-->
							<li><span></span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer-area end -->
	<!-- Copyright-area start -->
	<div class="copyright-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<div class="copyright">
						<p class="mb-0">&copy; SJ Square 2018. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Copyright-area start -->
</footer>
<!-- FOOTER END -->
			